<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">

        <!-- İsim Soyisim veya Marka İsmi -->
        <a href="{% url 'home:home' %}" class="navbar-brand">Django Dersleri</a>

        <!-- Telefon ekranları için menü butonu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


        <nav class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Arama Çubuğu  ilk yazılan bootstrap sitesinden alınan-->
            <form class="form-inline my-2 my-lg-0 mr-auto" role="search" method="GET" action="">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search on blog"
                       aria-label="Search" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="{% url 'home:home' %}">Ara
                </button>
            </form>

            <!-- Temel Sayfalar -->
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'post_app:create' %}">Yazı Ekle</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Anasayfa</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'post_app:index' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link" href="#">İletişim</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Çıkış</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Giriş</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Kayıt</a></li>
                {% endif %}
            </ul>

        </nav>

    </div>
</nav>