
{% extends 'base.html' %}

{% block title %}
    {{ block.super }}-
    {% if 'create' in request.path %}
        Oluştur
    {% elif 'update' in request.path %}
        Güncelle
    {% elif 'delete' in request.path %}
        Sil
    {% endif %}
{% endblock %}

{% block body %}
<form method="POST">
    <h1> FORMS </h1>
    {% csrf_token %}
    {{ form.as_p }}

    {% if 'create' in request.path %}
        <input type="submit" value="Kaydet">
    {% elif 'update' in request.path %}
        <input type="submit" value="Güncelle">
    {% elif 'delete' in request.path %}
        <input type="submit" value="Sil">
    {% endif %}

</form>
{% endblock %}

